@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Source+Code+Pro:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,900&display=swap');
*{
    font-family: 'Roboto Mono', monospace;
    font-family: 'Source Code Pro', monospace;
}

/* this makes the background work */
body { 
    background: url(/photos/catsbg.svg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    text-decoration: none;
  }

  .glitch {
    font-size: 4rem;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    color: white; 

    text-shadow:
         0.05em 0 0 rgba(255, 0, 0, 0.50),
         -0.02em -.05em 0 rgba(0, 255, 0, 0.50),
         0.025em .05em 0 rgba(0, 0, 255, 0.50);

    animation: glitch 500ms infinite;
}

@keyframes glitch {
  0% {
    text-shadow:
       0.05em 0 0 rgba(255, 0, 0, 0.50),
       -0.05em -0.025em 0 rgba(0, 255, 0, 0.50),
       -0.025em 0.05em 0 rgba(0, 0, 255, 0.75);
  }
  14% {
    text-shadow: 
       0.05em 0 0 rgba(255, 0, 0, 0.50),
       -0.05em -0.025em 0 rgba(0, 255, 0, 0.50),
       -0.025em 0.05em 0 rgba(0, 0, 255, 0.50);
  }
  15% {
    text-shadow: 
       -0.05em -0.025em 0 rgba(255, 0, 0, 0.50),
       0.025em 0.025em 0 rgba(0, 255, 0, 0.50),
       -0.05em -0.05em 0 rgba(0, 0, 255, 0.50);
  }
  49% {
    text-shadow: 
       -0.05em -0.025em 0 rgba(255, 0, 0, 0.50),
       0.025em 0.025em 0 rgba(0, 255, 0, 0.50),
       -0.05em -0.05em 0 rgba(0, 0, 255, 0.50);
  }
  50% {
    text-shadow: 
       0.025em 0.05em 0 rgba(255, 0, 0, 0.50),
       0.05em 0 0 rgba(0, 255, 0, 0.50),
       0 -0.05em 0 rgba(0, 0, 255, 0.50);
  }
  99% {
    text-shadow: 
       0.025em 0.05em 0 rgba(255, 0, 0, 0.50),
       0.05em 0 0 rgba(0, 255, 0, 0.50), 
       0 -0.05em 0 rgba(0, 0, 255, 0.50);
  }
  100% {
    text-shadow: 
       -0.025em 0 0 rgba(255, 0, 0, 0.50),
       -0.025em -0.025em 0 rgba(0, 255, 0, 0.50),
       -0.025em -0.05em 0 rgba(0, 0, 255, 0.50);
  }
}

@keyframes slide-left {
  0% {left:0}
  33% {left:0}
  34% {left:100%;}
  66% {left:100%;}
  67% {left:200%;}
  99% {left:200%;}
  100% {left:0}
}


@keyframes slide-right {
  from {
    margin-left: -100%;
    width: 300%; 
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

  .cat {
    border-radius: 10px;
    /* width: 100%; */
    width: 100%;
  }

  .mydiv {
    display: grid;
    grid-gap: 10px;
    column-gap: 50px;
    row-gap: 20px;
  }

.loaf {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 4;
  grid-row-end: 7;
}


 .klous {
  grid-column-start: 7;
  grid-column-end: 9;
  grid-row-start: 7;
  grid-row-end: 10;
}

.klous:hover{

}

 .scarf {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 10;
  grid-row-end: 13;
} 

.klous:hover {

}

 .jen {
  grid-column-start: 7;
  grid-column-end: 9;
  grid-row-start: 13;
  grid-row-end: 16;
} 

.jen:hover {

}

.been {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 16;
  grid-row-end: 19;
}

.been:hover {
  
}

